<h1>Inicia Sesión</h1>

<form action="/login" method="post" id="login">
  <p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </p>

  <p>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">
  </p>

  <input type="submit" value="Inicia Sesión">
</form>