<h1>Busca tu nido</h1>

<form{{!-- Opciones --}}
action="/buscar" method="post" enctype="multipart/form-data">


<p>
 ¿Qué tipo de nido buscas?
 <select name="enum" id="tipo_nido">
<option selected value="0"> Elige una opción </option>
 <option value="CASA">Casa</option>
 <option value="DEPA">Departamento</option>
 <option value="DEPA">Cuarto</option>
</select>
</p>

<p>
 ¿Por dónde? (calle, colonia):
 <input type="text" name="location[address]" id="address">
</p>

 <input type="text" name="location[coordinates][1]" id="lat" hidden="true">

 <input type="text" name="location[coordinates][0]" id="lng" hidden="true">

<p> 
  ¿Qué precio mensual?
   <input type="Number" name="precio" id="precio">
</p>

<p>
  <label for="n1">¿Con cuántos roomies?</label>
  <input 
  type    ="number" 
  min     ="0" 
  max     ="120" 
  step    ="1" 
  id      ="n1" 
  name    ="roomies"
  pattern ="\d+">
</p>


<p>
<label for="genero">¿Algún género en especial?</label>
 <select name="enum" id="genero">
<option selected value="0"> Elige una opción </option>
 <option value="Femenino">Femenino</option>
 <option value="Masculino">Masculino</option>
 <option value="Indiferente">Indiferente</option>
</select>
</p>


<p>
<label for       ="baño">Baño</label>
 <select name="enum" id="baño">
<option selected value="0"> Elige una opción </option>
 <option value   ="Solo">Solo</option>
 <option value   ="Compartido">Compartido</option>
<option value   ="Indiferente">Indiferente</option>
</select>
</p>


<p>
<label for      ="baño">¿Amueblado?</label>
 <select name="enum" id="amueblado">
<option selected value="0"> Elige una opción </option>
 <option value  ="Si">Si</option>
 <option value  ="No">No</option>
</select>
</p>

<p>
<label for="baño">Estacionamiento</label>
 <select name="enum" id="estacionamiento">
<option selected value="0"> Elige una opción </option>
 <option value="Si">Si</option>
 <option value="No">No</option>
 <option value   ="Indiferente">Indiferente</option>
</select>
</p>


<p>
<label for="baño">PetFriendly</label>
 <select name="enum" id="petFriendly">
<option selected value="0"> Elige una opción </option>
 <option value="Si">Si</option>
 <option value="No">No</option>
 <option value   ="Indiferente">Indiferente</option>
</select>
</p>


<br>
  <input type="submit" value="Buscar">


</form>

{{!-- MAPA --}}

<h2>Vecindario</h2>

<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8o46KiOg4PdiJ8WCRXC9KyFfE4d-g0Qw&libraries=places"></script>

<script>
function map(){
   const ironhackHQ = {
   lat:  19.3977857,
   lng: -99.1713954}
   const map = new google.maps.Map((
     document.getElementById('map')
     ),
     {
       zoom: 15,
       center: ironhackHQ
       {{!-- center: {lat:lati,lng:longi} --}}
   })
   const input = document.getElementById('adress')


   const myMarker = new google.maps.Marker({
     map: map,
     position:{
       lat:  19.3977857,
       lng:  -99.1713954
     },
     title: "I'm here",
     animation:google.maps.Animation.BOUNCE
   })

   function createMarkers(x,y){
     let markere = new google.maps.Marker({
     position: {lat:x, lng:y} ,
     map: mapa
   })
 }
}

 map()


  let address = document.getElementById('address')
  let lat = document.getElementById('lat')
  let lng = document.getElementById('lng')

  const autoCompleteMapita = (input, inputLat, inputLng) => {
    let dropdown = new google.maps.places.Autocomplete(input)
    dropdown.addListener('place_changed', () => {
      let place = dropdown.getPlace()
      lat.value = place.geometry.location.lat()
      lng.value = place.geometry.location.lng()
    })
  }
  autoCompleteMapita(address, lat, lng)

</script>


