<h1>Contacto</h1>
<br>
<h2>Nombre:</h2>
<p>Paquito</p>
<h3>Reconocimientos</h3>
<img class="estampa" src="https://png.icons8.com/color/50/000000/broom.png">
<img class="estampa" src="https://png.icons8.com/cotton/50/000000/cash-in-hand.png">

<br>
<h3>Correo</h3>
<p>tunido@gmail.com</p>
<br>
<h3>Teléfono</h3>
<p>0000 0000</p>
<h3>Intereses</h3>
<img class="estampa" src="https://png.icons8.com/doodle/48/000000/dog-bowl.png">
<img class="estampa" src="https://png.icons8.com/color/48/000000/rock-music.png">
<img class="estampa" src="https://png.icons8.com/color/48/000000/paint-palette.png">
