<h1>Edita tu perfil</h1>

<form action="/edit/{{id}}" method="post" enctype="multipart/form-data">
  <label for="">Usuario</label>
  <input type="text" name="username" id="username" value="{{username}}">

  <p>Edita tu imagen</p>
  <input type="file" name="photoURL" id="">
  


<p>Edita Descripción</p>

  <p>
  <label for="descripcion"></label>
  <textarea 
  name  ="descripcion" 
  id    ="descripcion" 
  cols  ="30" 
  rows  ="10">{{descripcion}}</textarea>
  </p>

<br>
  <input type="submit" value="Actualizar">

</form>
