{{!-- <h2>Agrega tu imagen</h2>

<form action="/edit_image" method="post" enctype="multipart/form-data">
  <input type="file" name="photoURL" id="">
  <br>
  <input type="submit" value="Sube tu foto">
</form> --}}