<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Encuentra a tu Roomie</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header>
   <nav>
     <a href="/posts">Leave the nest</a>
   </nav>
   
   <nav>
     {{#if user}}
     <a href="/profile/{{user.username}}">{{user.username}}</a>
     |
     <a href="/logout">Salir</a>
     {{else}}
     <a href="/login">Inicia Sesión</a>
     |
     <a href="/signup">Regístrate</a>
     |
     <button id="button">Regístrate con Facebook</button>
     {{/if}}
   </nav>
   
 </header>


  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>