body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/fondo.jpg')no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size:cover;
 -o-background-size:cover;
  background-size: cover;
  // rgb(228, 224, 224);
  
}

a {
  color: #00B7FF;
}
#map {
  width: 60%;
  height: 100vh;
  margin-top: 10px;
  
}
#front{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

header{
  box-sizing: border-box;
  padding: 0 2%;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(247, 224, 99, 0.877);
  color: rgb(187, 51, 221);
 }
 
 header nav a{
  color: rgb(111, 6, 138);
  text-decoration: none;
 }
 header nav a:hover{
  color: #000;
  background-color: #fff;
  text-decoration: none;
 }
 #title{
  font-family: 'Kaushan Script', cursive;
  justify-content: center;
  font-size: 200%;
  color: #fff;
 }
 #pajaro{
   margin-left: 100px;
   }

section{
  display: flex;
  justify-content: space-around;
}


.contenedor{
  padding: 10px;
  margin: 20px 0;
  border-radius: 15px;
  background-color: white;
  
  width: 300px;
  height: 200px;
}

.contenedor2{
  padding: 10px;
  margin: 20px 0;
  border-radius: 15px;
  background-color:rgba(49, 205, 233, 0.516) ;
  
  width: 350px;
  height: 550px;
}

.estampa{
  border-radius: 35px;
  background-color:rgba(0, 0, 0, 0.112);
  border-color: black;
  border-width:3px ;
  border-style: inset;
  justify-content: space-between;
}

p{
  font-size: 130%;
  margin: 3px;
}